@use "/src/general-style/app-colors.scss" as app-colors;

h2 {
        text-transform: capitalize;
        color: app-colors.$secondary-color;
}

button.new-event {
        width: 250px;
        height: 250px;
        font-size: 400%;
}