$primary-color: #84AE98;
$secondary-color: #ffbc42;
$background-color: #464F40;

$primary-color-lighter: #90B6A3;
$secondary-color-lighter: #FFC65C;
$background-color-lighter: #505B49;

$primary-color-darker: #77A68F;
$secondary-color-darker: #FFB833;
$background-color-darker: #3C4337;