// $primary-color: #84AE98;
// $secondary-color: #ffbc42;
// $background-color: #464F40;

// $primary-color-lighter: #90B6A3;
// $secondary-color-lighter: #FFC65C;
// $background-color-lighter: #505B49;

// $primary-color-darker: #77A68F;
// $secondary-color-darker: #FFB833;
// $background-color-darker: #3C4337;

$primary-color: #95B46A;
$secondary-color: #406342;
$background-color: #FBFFEB;

$primary-color-lighter: #A8C185;
$secondary-color-lighter: #517B53;
$background-color-lighter: #FDFFF5;

$primary-color-darker: #8BAD5C;
$secondary-color-darker: #385639;
$background-color-darker: #F7FFD6;